.header {
  padding: v(space-s);
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  &__container {
    padding: v(space-xs);
    background-color: v(background90);
    color: v(background90Text);
    border-radius: v(borderRadius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 v(space-s) 0 v(background);
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  &__logo {
    font-size: 1.25em;
    color: v(background25);
    font-weight: 300;
    strong {
      font-weight: 600;
      color: v(foreground);
    }
    @media #{bp(small)} {
      span {
        display: none;
      }
    }
  }
}
