.icon-overview {
  &__container {
    padding: v(space-s);
    @media screen and (min-width: 720px) {
      padding-right: 0;
    }
    display: flex;
    flex-wrap: wrap;
    gap: v(space-s);
  }
  &__item {
    width: calc(20% - v(space-s));
    @media screen and (max-width: 1200px) {
      width: calc(33.33% - v(space-s));
    }
    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }
  &__title {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    span {
      opacity: 0.5;
    }
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  &__header {
    padding: v(space-s);
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__categories {
    width: 100%;
    position: relative;
    @media screen and (max-width: 1024px) {
      padding: v(space-s) 0;
    }
  }
  &__category-list {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      padding: v(space-s);
    }
  }
  &__category {
    padding: 0.5em 1em;
    border-radius: v(borderRadius);
    background-color: transparent;
    box-shadow: 0 0 0 1px v(background75) inset;

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 1px v(primary) inset;
      color: v(foreground);
      opacity: 1;
    }

    &--active {
      background-color: v(primary);
      color: v(primaryText);
      &:hover {
        background-color: v(primary90);
        box-shadow: 0 0 0 1px v(primary90) inset;
        color: v(background);
      }
    }
    &--inactive {
      opacity: 0.5;
    }
  }
  &__total {
    flex-shrink: 0;
  }
  &__loading {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @at-root {
    @keyframes rotate {
      to {
        transform: translate(var(--translate), var(--translate)) rotate(360deg);
      }
    }
    @keyframes rotate-backwards {
      to {
        transform: translate(var(--translate), var(--translate)) rotate(-360deg);
      }
    }
  }
  &__loader {
    border: 3px solid v(background90);
    border-left-color: transparent;
    border-bottom-color: transparent;
    width: v(space-xl);
    height: v(space-xl);
    border-radius: 50%;
    position: relative;
    animation: rotate 5s ease-in-out infinite;
    transform: translate(var(--translate), var(--translate)) rotate(0deg);
    --translate: 0%;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(var(--translate), var(--translate)) rotate(0deg);
      border-radius: 50%;
      --translate: -50%;
    }
    &::before {
      border: 3px solid v(secondary);
      border-left-color: transparent;
      border-bottom-color: transparent;
      width: v(space-l);
      height: v(space-l);
      animation: rotate-backwards 4s ease-in-out infinite;
    }
    &::after {
      border: 3px solid v(background75);
      border-right-color: transparent;
      border-top-color: transparent;
      width: v(space-s);
      height: v(space-s);
      animation: rotate 3s ease-in-out infinite;
    }
  }
}
