.color-mode {
  padding: 1em;
  position: relative;
  background-color: transparent;
  border: 2px solid v(background50);
  color: v(background50);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  background-size: 100% 300%;
  transition: background 2s ease-in-out;

  &--light {
    background-position: 0 0%;
  }
  &--dark {
    background-position: 0 100%;
  }

  &__button {
    --color-mode-size: 1.5rem;
    position: absolute;
    width: var(--color-mode-size);
    height: calc(var(--color-mode-size) * 10);
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
    transform: translate(
        calc(var(--color-mode-size) / 2 * -1),
        calc(var(--color-mode-size) / 2 * -1)
      )
      rotate(0deg);
    transition: transform 2s cubic-bezier(0.25, 0.5, 0.5, 1.25);
    &--dark {
      transform: translate(
          calc(var(--color-mode-size) / 2 * -1),
          calc(var(--color-mode-size) / 2 * -1)
        )
        rotate(180deg);
    }
    &:focus {
      outline: none;
    }

    &::after,
    &::before {
      content: "\263C";

      width: var(--color-mode-size);
      height: var(--color-mode-size);
      display: block;
      position: absolute;
      line-height: 1;
      font-size: 1.5rem;
      color: v(background50);
    }
    &::before {
      // background-color: rgb(255, 233, 137);
      // box-shadow: 0 0 calc(var(--color-mode-size) / 2) 0 white;
      top: 0;
    }
    &::after {
      content: "\263D";
      bottom: 0;
      // background-color: transparent;
      // box-shadow: calc((var(--color-mode-size) / 2) * -1) 0px 0
      //   calc(var(--color-mode-size) / 24) white inset;
    }
  }
}
