.color-mode {
  padding: 1em;
  position: relative;
  background-color: v(background);
  // border-radius: v(borderRadius);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    rgb(174, 232, 255),
    rgb(0, 0, 82)
  );
  background-size: 100% 300%;

  transition: background 2s ease-in-out;
  &--light {
    background-position: 0 0%;
  }
  &--dark {
    background-position: 0 100%;
  }

  &__button {
    --color-mode-size: 1rem;
    position: absolute;
    width: var(--color-mode-size);
    height: calc(var(--color-mode-size) * 10);

    text-indent: -999em;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
    transform: translate(
        calc(var(--color-mode-size) / 2 * -1),
        calc(var(--color-mode-size) / 2 * -1)
      )
      rotate(0deg);
    transition: transform 2s cubic-bezier(0.25, 0.5, 0.5, 1.25);
    &--dark {
      transform: translate(
          calc(var(--color-mode-size) / 2 * -1),
          calc(var(--color-mode-size) / 2 * -1)
        )
        rotate(180deg);
    }
    &:focus {
      outline: none;
    }

    &::after,
    &::before {
      content: "";

      width: var(--color-mode-size);
      height: var(--color-mode-size);
      display: block;
      position: absolute;

      border-radius: 50%;
    }
    &::before {
      background-color: rgb(255, 233, 137);
      box-shadow: 0 0 calc(var(--color-mode-size) / 2) 0 white;
      top: 0;
    }
    &::after {
      bottom: 0;
      background-color: transparent;
      box-shadow: calc((var(--color-mode-size) / 2) * -1) 0px 0
        calc(var(--color-mode-size) / 24) white inset;
    }
  }
}
